{% extends "BlogApp/welcome.html" %}
{% load static %}

{% block Header %}{% endblock %}
{% block text02 %}<h2 class="masthead-subheading mb-0">Sobre mí
</h2>{% endblock%}

{% block submit %}
{% endblock %}

{% block FORM %}
{% endblock %}



{% block infoSection %}
<br>
<br>
<section>
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="img-fluid rounded-circle"
                        src="{% static 'BlogApp/assets/img/img (9).jpeg' %}" alt="..." /></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <form action="" method="POST"> {% csrf_token %}

                    <table>
                        {{ miFormulario.as_p }}
                    </table>
                
                    <input class="btn btn-primary btn-xl rounded-pill mt-5" type="submit" value="Cambiar datos">
                
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}