
{% extends "BlogApp/welcome.html" %}
{% load static %}

{% block texto1 %}{% endblock%}
{% block text02 %}{% endblock%}


{% block FORM %}

<p>Autor: {{pulseralover.autor}}</p>
<p>País: {{pulseralover.pais}}</p>
<p>Edad: {{pulseralover.edad}}</p>
<p>Color: {{pulseralover.color_predominante}}</p>

<style>
    .regresar_link{
        color: white;
        text-decoration: none;
    }
</style>


<a class="regresar_link" href="{% url 'ver_lover' %}"> <- Regresar</a>
{% endblock %}

{% block submit %}{% endblock %}
{% block infoSection %}
{% endblock %}

