
{% extends "BlogApp/welcome.html" %}
{% load static %}

{% block texto1 %}{% endblock%}
{% block text02 %}{% endblock%}


{% block FORM %}


<div class="col-lg-6 order-lg-2">
    <div class="p-5">
        <img class="img-fluid rounded-circle" src="{{ pulserafolklore.imagen.url }}" alt="..." />
        </div>
</div>




<style>
    .regresar_link{
        color: white;
        text-decoration: none;
    }
</style>

<br>
<a class="regresar_link" href="{% url 'ver_folklore' %}"> <- Regresar</a>
{% endblock %}

{% block submit %}{% endblock %}
{% block infoSection %}
{% endblock %}


