
{% extends "BlogApp/welcome.html" %}
{% load static %}

{% block texto1 %}¿Seguro que deseas borrar tu pulsera?{% endblock%}
{% block text02 %}{% endblock%}
<br>

{% block FORM %}
<form action="" method="POST" autocomplete="off"> {% csrf_token %}

    
    {{ form.as_p }}

<br>
<input type="submit" value="Guardar">


</form>
{% endblock %}

{% block submit %}
<br>

<style>
a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: white;
}
</style>

<a href="{% url 'ver_folklore' %}">Ver lista</a>

{% endblock %}
{% block infoSection %}
{% endblock %}
