{% extends "BlogApp/welcome.html" %}
{% load static %}

{% block texto1 %}<h1 class="masthead-heading mb-0">Resultados de la búsqueda</h1>{% endblock %}
{% block text02 %}{% endblock %}

{% block FORM %}
{% if res %}
{% for pulsera in res %}
<div class="col-lg-6 order-lg-2">
    <div class="p-5">
        <img class="img-fluid rounded-circle" src="{{ pulsera.imagen.url }}" alt="..." />
        </div>
</div>

{% endfor %}
{% else %}
<p>No se encontraron resultados.</p>
{% endif %}
{% endblock %}

{% block submit %}{% endblock %}
{% block infoSection %}{% endblock %}